{% extends "base.html" %}
{% block title %}選句{% endblock %}

{% block content %}


<h1>句会作成</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'kukai:create' %}" method="post">
{% csrf_token %}
<label for="title">句会の名前（必須）</label><br>
<input type="text" name="title" required><br>
<label for="info">追加情報（任意）</label><br>
<textarea name="info" cols="30" rows="3" maxlength="100" placeholder="例: 題「xx」、投句数、選句数など"></textarea>
<input type="submit" value="作成" class="button">
</form>
{% endblock %}